<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Bishop.Model.FormsContext" providerName="System.Data.SqlClient" connectionString="Server=(LocalDB)\v11.0; Initial Catalog=Bishop.Model.FormsContext; Integrated Security=True; MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>