@using Bishop.UI.Web.Models.Forms

@model IEnumerable<UserForm>
@{
    ViewBag.Title = "Index";
}

<div>
    <h1>Bishop</h1>
</div>
<div>
    <h3>Current Sessions</h3>
</div>
<div>
    
    @{
        foreach (var form in this.Model)
        {
            @Html.ActionLink(form.Title, "Index", "Fill", new { id = form.Id }, null)
        }
    }
</div>
