@using Bishop.UI.Web.Models.Forms
@model QuestionViewModel

@for (var answerIndex = 0; answerIndex < this.Model.UserForm.Topics[this.Model.TopicIndex].Questions[this.Model.QuestionIndex].Answers.Count; answerIndex++)
{            
    @Html.CheckBoxFor(m => m.UserForm.Topics[this.Model.TopicIndex].Questions[this.Model.QuestionIndex].Answers[answerIndex].IsChecked)
    <label>@this.Model.UserForm.Topics[this.Model.TopicIndex].Questions[this.Model.QuestionIndex].Answers[answerIndex].Text</label>
}