@using Bishop.UI.Web.Models.Forms
@model QuestionViewModel

@foreach (var possibleAnswer in this.Model.UserForm.Topics[this.Model.TopicIndex].Questions[this.Model.QuestionIndex].Answers)
{                    
    @Html.RadioButtonFor(m => m.UserForm.Topics[this.Model.TopicIndex].Questions[this.Model.QuestionIndex].SelectedAnswer, possibleAnswer.Text);
    <label>@possibleAnswer.Text</label>
}


